{% extends "layout.html"%}
{% block body %}
    <header class="jumbotron text-center">
        <h1>This project was made by</h1>
    </header>
    <main class="container">
        <section id="intro">
            <div class="row">
                <article class="col-sm">
                    <h3>Chen JiaJun</h3>
                    <p>Student ID: 2101351</p>
                </article>
                <article class="col-sm">
                    <h3>Goh Thiam Aik</h3>
                    <p>Student ID: 2102924 </p>
                </article>
                <article class="col-sm">
                    <h3>Liew Jwo Young</h3>
                    <p>Student ID: 2102109</p>
                </article>
                <article class="col-sm">
                    <h3>Sim Wei Xuan</h3>
                    <p>Student ID: 2100895</p>
                </article>
                <article class="col-sm">
                    <h3>Yeo Yi Xuan</h3>
                    <p>Student ID: 2100717</p>
                </article>
            </div>
        </section>
    </main>
{% endblock %}