{% extends "layout.html"%}
{% block body %}
    <header class="jumbotron text-center">
        <h1>Our Approach</h1>
    </header>
    <main class="container">
        <div class="row">
            <div>
                <p>As the United States is a superpower in the world and US Dollar is the World's Reserve currency. If the United States is in recession, it will surely affect the other countries. As such we decided create an application to predict a recession in the US.</p>
            </div>
            <h2 style="text-align:center">
                Indicators used:
            </h2>
            <p>
                Consumer price index (CPI)
                Unemployment Rates
                Market Yield Rates
                Industrial Production Rates
                Treasury Bill Rates
                Capacity Utilization Rate
            </p>
            <h2>
                Programming language and libraries used:
            </h2>
            <p>
                <b>Front-end:</b>HTML, Javascript and Flask Library in Python </br>
                <b>Back-end:</b> Python
                Libraries used: Pandas
                Scikit-learn
                FREDapi
                Matplot and Plotly
            </p>
            </div>
        </div>
    </main>
{% endblock %}