<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale = 1, width= device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script defer src="{{url_for('static', filename='main.js')}}"></script>
    <title>Recession Predictor</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <span class="material-icons">&#xe88a;</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data">Data sets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="model_testing">Model Testing</a>
                    </li>
                    <li class ="nav-item">
                        <a class ="nav-link" href="task">Our Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="approach">Our Approach</a>
                    </li>
                </ul>
            </div>
</nav>
<br/>
    {% block body %} {% endblock%}
</body><br>
<footer class="container" style="border-top-style:solid;">
    <p style="text-align:center;">Copyright&copy; 2021 Singapore Institute  of Technology</p>
</footer>
</html>